body {
    background-color: #F6F6F6;
    text-align: center;
    color: 274155;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
  
h2,form {
    font-family: Montserrat;
    font-weight: normal;
}
  
input[type=submit] {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}